body {
  margin: 0;
  padding: 5px 25px;
  font-size: 14px;
}

/*___ wrap ___*/

.wrap {
  width: 55%;
  margin: 0 auto;
}

/*___ information ___*/

.information {
  width: 100%;
  height: 300px;
}

.bookimage{
  float: left;
}

.content{
  padding-left: 225px;
}

.content .title{
  font-weight: bold;
  font-size: 18px;
}

.textcontent{
  width: 363px;
}

/*___ comment ___*/

.comment {
  width: 88%;
  height: 100px;
}

input[type="text"] {
  height: 80px;
  border: 2px solid black;
  text-align: left;
  color: #cbcccb;
  float: left;
  width: 80%;
  margin-right: 10px;
}

input[type="submit"] {
  height: 86px;
  border: 2px solid black;
  border-radius: 4px;
  width: 13%;
  float: left;
}

/*___ review ___*/

.review {
  position: absolute;
  margin-bottom: 50px;
}

table {
  border-collapse: collapse;
  height: 205px;
  width: 122%;
}

td {
  padding: 10px;
  border: 1px solid black;
}

th  {
  border: 1px solid black;
}

table tr:nth-child(2n+1) {
  background: #ececec;
}

th {
  background-color: #ccc;
  font-size: 11px;
  padding: 10px;
  text-align: left;
}

.first-td{
  border-right: 2px solid black;
}
